/* 주석문 */


.button{
    background-color: #9C9C9E;
    border: 1px solid rgb(121, 121, 121);
    color: white;
    padding: 3px;
}

.lb{
    margin-left: 20%;
}

.a{
    width: 360px;
}

.b{
    width: 432px;
}

.bottom{
    width: 110px;
}

input{
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

hr{
    width: 780px;
    text-align: left;
    margin-left: 0;
}